# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nikos\PROGRAMMING\UNIVERSITY\T4 JAVA\CSCU9T4 ASSIGNMENT\CSCU9T4Assignment2021-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
